@media(max-width:800px){

    .logotipo{
        width: 500px;
        padding: 50px;
    }

    header{
        font-family: 'Victor Mono', monospace;    
        font-size: 12pt;
        color: #ffff;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 300px;
        padding: 20px;
    }

    .input-field input{
        width: 500px;
    }

    .conhecimentos-gerais{
        width: 95%;
        font-size: 15pt ;
    }

    .conhecimentos-gerais iframe{
        width: 95%;
    }

    .selecao-de-cursos{
        width: 95%;
    }

    .titulo{
        width: 90%;
        padding: 15px;
        font-size: 50pt;
    }

    .cabecalho-home{
        padding: 30px;
    }    
}
